{% extends 'base.html.twig' %}

{% block title %}
    Welcome, {{ name }}
{% endblock %}

{% block body %}
    <h1>Hello User {{ name }}</h1>
    <hr>
    Name: {{ person.name }}
    <hr>
    Last name: {{ person.lastname }}
    <hr>
    Age: {{ person.age }}

    <h1>The user form</h1>
    {{ form(first_form) }}

    <h2>Only separate elements of the form</h2>
    {{ form_start(first_form) }}
        {# {{ form_label(first_form.fullname) }} #}
        {{ form_row(first_form.fullname) }}
        {# {{ form_row(first_form.fullname) }} #}
    {{ form_end(first_form) }}

    <h4>{{ post.title }}</h4>
    <h4>{{ post.description }}</h4>
{% endblock %}