{% extends 'base.html.twig' %}

{% block title %}Resultat{% endblock %}

{% block body %}
    <h1>Resultat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resultat.id }}</td>
            </tr>
            <tr>
                <th>Result1</th>
                <td>{{ resultat.result1 ? resultat.result1|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Resultat2</th>
                <td>{{ resultat.resultat2 ? resultat.resultat2|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Resultat_final</th>
                <td>{{ resultat.resultatFinal ? resultat.resultatFinal|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('resultat_index') }}">back to list</a>

    <a href="{{ path('resultat_edit', {'id': resultat.id}) }}">edit</a>

    {{ include('resultat/_delete_form.html.twig') }}
{% endblock %}
