{% extends 'base.html.twig' %}

{% block title %}  
{% endblock %}

{% block body %}
    {# {{ dump(resultats) }} #}
    {# <img src="{{ asset('assets/images/') ~ image }}" title="my image" alt="My image"> #}
    <h2 style="text-align: center; padding: 20px 0">{{ message.text_message }}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Ville</th>
            <th scope="col">Categorie</th>
            <th scope="col">Resultat</th>
            </tr>
        </thead>
        <tbody>
            {% for key, resultat in resultats %}
                <tr>
                <th scope="row">{{key+1}}</th>
                <td>{{ resultat.nom_participant }}</td>
                <td>{{ resultat.prenom_participant }}</td>
                <td>{{ resultat.ville }}</td>
                <td>{{ resultat.nom_categorie }}</td>
                <td>{{ resultat.resultat_final }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
